@media only screen and (min-width:200px) and (max-width:991px){

    .inner_main_header {display: inline-block;}
    #main_menu {width: 100%;text-align: center;}
    .search_area {width: 100%;text-align: center;padding-bottom: 18px;}
    .text_area h2 {padding-top: 10px;}
    .text_area p { padding: 10px;line-height: 1.0;padding-top: 5px;}
    .text_area {height: auto;}
    


}






@media only screen and (min-width:200px) and (max-width:480px){
    .mini_menu2 {
        display: none;
    }
    .mini_menu {
        width: 100%;
    }
    .logo {
        width: 100%;
        float: none;
    }

    .side_logo img {
        float: none;
    }
    .side_logo {
        width: 100%;
        float: none;
    }
    .logo img {
        margin: 0 auto;
        display: block;
        margin-bottom: 10px;
    }
    .image_area {
        width: 100%;
    }
    .inner_banner_area {
        display: block;
    }
    .text_area {
        width: 100%;
        height: auto;
    }
    .text_area h2 {
        padding-top: 22px;
    }
    .text_area p {
        padding: 16px;
        padding-top: 6px;
    }
    .left_about {
        width: 100%;
        float: none;
    }
    .about_child_image {
        width: 23%;}
        .right_about {
            width: 100%;
            float: none;
        }
        .left_c {
            width: 100%;
            float: none;
            padding: 16px;
        }
        .right_c {
            width: 100%;
            float: none;
        }
        .inner_c {
            width: 100%;
            float: none;
            padding: 16px;
        }
        .about_text {
            margin-top: 100px;
            margin-bottom: 47px;
        }
        











}