/* ====================================
common css
==================================== */
*{
    padding: 0;
    margin: 0;
    font-family: 'Gluten', cursive;
}
.container{
    max-width: 960px;
    width: 96%;
    margin: 0 auto;
}

img{
    width: 100%;
    height: auto;
}
/* ====================================
header area css
==================================== */
#header_area{
    background: #fff;
}
.top_header{
    background: #fff;
}
.inner_top_header {
	padding: 36px 0;
	border-bottom: 1px solid #bbbbbb;
}
.mini_menu{
    width: 50%;
    float: left;
    text-align: left;
}
.mini_menu ul{
    list-style: none;
}
.mini_menu ul li{
    display: inline-block;
    border-right: 2px solid #f95105;
    
}
.mini_menu ul li:last-child{
    border-right: 0;
    
}
.mini_menu ul li a{
    color:#f95105;
    text-decoration: none;
    
    font-size: 16px;
    padding-right: 8px;
}
.mini_menu ul li a:hover{
    color: #666666;
}








.mini_menu2{
    width: 50%;
    float:right;
    text-align: right;
}
.mini_menu2 ul{
    list-style: none;
}
.mini_menu2 ul li{
    display: inline-block;
    border-left: 2px solid #f95105;
}
.mini_menu2 ul li:first-child{
    
    border-left: 0;
}
.mini_menu2 ul li a{
    color:#f95105;
    text-decoration: none;
    
    font-size: 16px;
    padding-left: 8px;
}
.mini_menu2 ul li a:hover{
    color: #666666;
}














.logo_header{
    background: #fff;
}
.inner_logo_header{
overflow: hidden;
padding-top: 20px;
}
.logo{
    width: 50%;
    float: left;
}
.logo img {
	max-width: 200px;
}
.side_logo{
    width: 50%;
    float: right;
}
.side_logo img {
	float: right;
	max-width: 450px;
}










.main_header {
	background: #fff;
	padding: 18px 0;
    
}
.inner_main_header{
display: flex;
background: #5c5c5c;
}

#main_menu{
    width: 65%;
}
#main_menu ul {
	padding-left: 28px;
}
#main_menu ul li {
	list-style: none;
	display: inline-block;
	background: #5c5c5c;
	padding: 20px 20px 20px 20px;
}
#main_menu ul li:hover {
	background: #f95105;
    transition: .3s;
}



#main_menu ul li a {
	text-decoration: none;
	font-size: 18px;
	color: #fff;
}



.search_area{
    width: 45%;
    text-align: right;
}
.search_area form {
	padding: 12px 28px 0px 0px;
}
.search_area input {
	width: 200px;
	height: 33px;
    font-size: 18px;
    text-align: center;
}
.search_area input[type="submit"] {
	width: 100px;
	height: 33px;
	margin-left: 5px;
    border: 0;
}
.search_area input[type="submit"]:hover {
	background: #f95105;
    color: #fff;
}












/* ====================================
banner area css
==================================== */
.banner_area {
    padding-top: 25px;
    padding-bottom: 20px;
}
.inner_banner_area{
    display: flex;
    background: #f95105;
}

.image_area {
    width: 65%;
    margin: auto 0;
}
.image_area img {
    padding: 20px 0;
}

.text_area {
    width: 35%;
    text-align: center;
    color: #fff;
    background: #f95105;
}
.text_area h2 {
    font-size: 20px;
    padding-top: 22px;
}
.text_area p {
    font-size: 16px;
    text-align: justify;
    padding: 22px;
    line-height: 1.3;
}
.text_area a {
    padding: 5px 20px 5px 20px;
    background: #1e1e1e;
    font-size: 16px;
    color: #f95105;
    text-decoration: none;
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
}
.text_area a:hover {
    background: #f95105;
    color: #fff;
    transition: .5s;
}









/* ====================================
about area css
==================================== */
.about_area{
    background: #fff;
    margin-top: 25px;
}
.inner_about_area{
    overflow: hidden;
    clear: both;
}

.left_about {
    width: 66%;
    float: left;
}







.about_images {
    width: 100%;
}
.about_child_image {
    width: 24%;
    position: relative;
    float: left;
    margin-right: 5px;
}
.about_child_image img{
    
    
}
.about_child_image p {
    background: #8e492880;
    color: #fff;
    padding: 4px;
    font-size: 16px;
    position: absolute;
    top: 102px;
    width: 93%;
    left: -999999px;
    box-shadow: 2px 2px #00000080;
}

.about_child_image:hover p{
    left: 0;
    
}













.about_text {
    color: #666666;
    margin-top: 200px;
}
.about_text h2 {
    font-size: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid #666666;
}
.about_text p {
    font-size: 16px;
    line-height: 1.0;
    margin: 20px 0;
}



.right_about {
    width: 32%;
    float: right;
}

.child_about {
    color: #666666;
    margin-bottom: 40px;
    padding-bottom: 33px;
    border-bottom: 1px solid #666666;
}
.child_about img {
    width: 55px;
    float: left;
    margin: 0px 8px 5px 0px;
    
}
.child_about h3 {
    font-size: 18px;
    padding: 3px;
}
.child_about p {
    font-size: 16px;
    line-height: 1.4;
    padding-left: 63px;
}
.child_about a {
    float: right;
    padding-top: 5px;
    color: #f95105;
    text-decoration: none;
    font-size: 16px;
}
.child_about a:hover{
    color: #666666;
}













/* ====================================
footer area css
==================================== */
.footer_area{}


.main_footer_area{}
.inner_main_footer {
    background: #000000;
    color: #98989a;
    overflow: hidden;
    padding: 25px 0px;
}

.left_c {
    width: 33%;
    float: left;
    padding-left: 2%;
}
.left_c h2 {
    font-size: 20px;
    border-bottom: 1px solid;
    margin-right: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.left_c p {
    font-size: 16px;
    margin: 10px 0;
}
.left_c form{}
.left_c input {
    width: 188px;
    height: 29px;
    margin-right: 5px;
}
.left_c input[type="submit"] {
    width: 40px;
    height: 33px;
}
.left_c input[type="submit"]:hover{
    background: #f95105;
    border: 0;
}


.right_c{
    width: 65%;
    float:right;
}
.inner_c{
    width: 33%;
    float: left;
}
.inner_c h2 {
    font-size: 20px;
    border-bottom: 1px solid;
    margin-right: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.inner_c p {
    font-size: 16px;
    color: #f95105;
    padding-right: 47px;
}




.copyright_area{
    
}
.inner_copyright_area {
    font-size: 16px;
    background: #666666;
    overflow: hidden;
    padding: 22px 0;
    margin-top: 2px;
}
.left{
    width: 50%;
    float: left;
}
.left p{
    color: #fff;
    padding-left: 16px;
}
.right{
    width: 50%;
    float: right;
}
.right p{
    color: #fff;
    padding-right: 16px;
    text-align: right;
}
















